
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  width: 100%;
  /* text-align: center; */
  /* margin: 20px x 0 20px; */
}

.container h1 {
  padding: 0 16px 0 0;

}

.container p {
  padding: 0 16px 0 0
}

.links {
  display: flex;
  margin: 10px 0;
  justify-content: center;
}

.links a {
  padding: 0 16px 0 50px;


}
